# IDE
.idea
.vscode

# Python
.venv
venv
*.pyc
__pycache__
*.log
*.egg-info

# Build artifacts
build/
dist/
*.spec.bak

# OS files
.DS_Store
Thumbs.db

# Installer outputs
*.exe
*.dmg
*.AppImage
AppDir/
